<section class="content-header">
    <h1>Welcome!</h1>
</section>

<section class="content" style="min-height:520px!important;">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Announcements</h3>
                </div>
                <div class="box-body">
                    <div class="post" ng-repeat="announcement in announcements">
                        <span class='text-muted'>{{ announcement.last_updated_time | amUtc | amLocal | amDateFormat:'MMM D, YYYY h:mm A' }}</span>
                        <p ng-bind-html="announcement.message"></p>
                    </div>
                    <div class="post" ng-if="announcements.length == 0">
                        <p>No announcement found.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>